{% extends "template.html" %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <!-- Header -->
  <header class="bg-red-700 text-white py-12 rounded-t-lg shadow-lg">
    <h1 class="text-5xl md:text-6xl font-extrabold text-center font-montserrat tracking-tight">
      {{ article.title }}
    </h1>
  </header>

  <!-- Content Section -->
  <div class="bg-white p-8 rounded-b-lg shadow-lg">
    <div class="prose prose-lg max-w-none">
      {{ article.content|safe }} <!-- Use the safe filter to avoid auto escaping -->
    </div>
  </div>
</div>
{% endblock content %}
